<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new employee</title>
</head>
<body>
<h3>Welcome, Enter The Employee Details</h3>
<form th:action="@{/employee/addEmployee}" th:object="${employee}" method="post">
    <fieldset>
        <legend></legend>
        <table>
            <tr>
                <td>
                    <label>Id:</label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{id}"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Number:</label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{contactNumber}"/>
                    </label>
                </td>
                <td>
                    <label>Name:</label>
                </td>
                <td>
                    <label>
                        <input type="text" th:field="*{name}"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Save"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>