<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>
            <label>Id:</label>
        </td>
        <td type="text" th:text="*{id}">
        </td>
    </tr>
    <tr>
        <td>
            <label>Number:</label>
        </td>
        <td type="text" th:text="*{contactNumber}">


        </td>
        <td>
            <label>Name:</label>
        </td>
        <td                         type="text" th:text="*{name}">
        </td>
    </tr>
</body>
</html>